<section id="client-reservation">
	<div class="container-fluid gradient-crystal-clear">
		<div class="row full-height-vh">
			<div class="col-12 d-flex align-items-center justify-content-center">

				<div class="card width-600">
					<div class="card-header">
						<div class="col-sm-8">
							<div class="card-title font-medium-5 pt-2 ml-2">R&#233;servation</div>
						</div>
					</div>
					<div class="card-body">
						<div class="px-3">
							<form class="form"  (ngSubmit)="onSubmit(reservation)" #f="ngForm">
								<div class="form-body">
									<h4 class="form-section">
										<i class="ft-user"></i>Informations Personnel
									</h4>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput1">Nom</label> <input type="text" [(ngModel)]="reservation.firstName" 
													id="projectinput1" class="form-control" name="fname" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput2">Pr&#233;nom</label> <input
													type="text" id="projectinput2" class="form-control" [(ngModel)]="reservation.lastName" 
													name="lname" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput3">E-mail</label> <input type="text" [(ngModel)]="reservation.email" 
													id="projectinput3" class="form-control" name="email" required email>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput4">Num&#233;ro de
													t&#233;l&#233;phone </label> <input type="text" id="projectinput4" [(ngModel)]="reservation.phone" 
													class="form-control" name="phone" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput3">Facebook</label> <input
													type="text" id="projectinput3" class="form-control" [(ngModel)]="reservation.facebook" 
													name="facebook">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="file">Photo</label>
												<!-- <label class="custom-file center-block d-block">
		                                      <input type="file" id="file" class="custom-file-input">
		                                      <span class="custom-file-control"></span>
											</label> -->
												<div class="custom-file center-block d-block">
													<input type="file" class="custom-file-input"
														id="inputGroupFile01"> <label
														class="custom-file-label" for="inputGroupFile01">Envoyer..</label>
												</div>
											</div>
										</div>
									</div>

									<h4 class="form-section">
										<i class="ft-file-text"></i>Informations requises
									</h4>



									<div class="row">
										<div class="col-md-6">

											<div class="form-group">
												<label for="companyName">Date de r&#233;servation</label>
												<div class="input-group">
													<input class="form-control" placeholder="yyyy-mm-dd"
														name="dp" [(ngModel)]="reservation.date" ngbDatepicker
														[dayTemplate]="customDay" [minDate]="disabledModel"
														#d3="ngbDatepicker" required>
													<div class="input-group-append">
														<div class="input-group-text" (click)="d3.toggle()">
															<i class="fa fa-calendar" style="cursor: pointer;"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput5">Tranche horaire </label>
												<div class="input-group-append">
													<ngb-timepicker [(ngModel)]="reservation.timeFrom" name="dpFrom"
														[spinners]="spinners" required></ngb-timepicker>
													<span style="margin-top: 4%;">-</span>
													<ngb-timepicker [(ngModel)]="reservation.timeTo" name="dpTo"
														[spinners]="spinners" required></ngb-timepicker>
												</div>

											</div>
										</div>


									</div>

									<div class="row">
										<div class="col-md-6">

											<div class="form-group">
												<label for="companyName">Nombre de personne (homme)</label>
												<div class="input-group">
													<input type="number" min="0" class="form-control" [(ngModel)]="reservation.qtyMen" name="nbHomme"
														aria-label="Amount (to the nearest dollar)" required>
													<div class="input-group-append">
														<div class="input-group-btn">
															<button type="button" class="btn btn-raised btn-warning"(click)="reservation.qtyMen = reservation.qtyMen+1;"
																aria-label="Copy">
																<i class="ft-user-plus"></i>
															</button>
															<button type="button" class="btn btn-raised btn-info"(click)="reservation.qtyMen = reservation.qtyMen-1;"
																aria-label="Paste">
																<i class="ft-user-minus"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput5">Nombre de personne
													(femme)</label>
												<div class="input-group">
													<input type="number" min="0" class="form-control" [(ngModel)]="reservation.qtyWomen" name="nbFemme"
														aria-label="Amount (to the nearest dollar)" required>
													<div class="input-group-append">
														<div class="input-group-btn">
															<button type="button" class="btn btn-raised btn-warning" (click)="reservation.qtyWomen = reservation.qtyWomen +1;"
																aria-label="Copy">
																<i class="ft-user-plus"></i>
															</button>
															<button type="button" class="btn btn-raised btn-info"(click)="reservation.qtyWomen = reservation.qtyWomen -1;"
																aria-label="Paste">
																<i class="ft-user-minus"></i>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>

								</div>

								<div class="form-actions">
									<button type="button"
										class="btn btn-raised btn-raised btn-warning mr-1">
										<i class="ft-x"></i> Cancel
									</button>
									<button type="submit"
										class="btn btn-raised btn-raised btn-primary">
										<i class="fa fa-check-square-o"></i> Save
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<reservation-setting></reservation-setting>