<section id="client-reservation" (window:resize)="onResize($event)">
	<div class="container-fluid gradient-crystal-clear">
		<div class="row full-height-vh">
			<div class="col-12 align-items-center justify-content-center"
				style="display: flex; margin: auto;">

				<div class="grid-hover"
					*ngIf="displayEvent == true && eventExist == true">

					<div class="row">
						<div class="col-md-6 col-12">
							<figure class="effect-sarah" id="eventGrid"
								[ngStyle]="{'min-width':minwidth  ? minwidth : '530px', 'max-height':maxheight  ? maxheight : '360px' }">
								<img src="assets/img/gallery/Photo2-Serv.jpg" alt="img13"
									*ngIf="eventImage == false" />
								<figcaption style="z-index: 999;">
									<h2>
										<span>{{eventTitle}}</span><small>{{eventDate}}</small>
									</h2>
									<p>{{eventDescription}}</p>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>


				<div class="card width-600">
					<div class="card-header">
						<img src="assets/img/logos/logo-point-bar.png"
							style="max-width: 110px; float: right !important; position: absolute; right: 0; margin: -10px 25px;" />
						<div class="col-sm-8">
							<div class="card-title font-medium-5 pt-2 ml-2">R&#233;servation</div>

						</div>

					</div>
					<div class="card-body">
						<div class="px-3">
							<form class="form" (ngSubmit)="onSubmit()" #f="ngForm">
								<div class="form-body">
									<h4 class="form-section">
										<i class="ft-user"></i>Info Personnel
									</h4>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput1">Nom</label><sup><font
													style="color: #F31414" size="2">*</font></sup> <input type="text" maxlength="50" [ngModelOptions]="{updateOn: 'blur'}"
													[(ngModel)]="reservation.firstName" id="projectinput1"
													class="form-control" name="fname" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput2">Pr&#233;nom</label><sup><font
													style="color: #F31414" size="2">*</font></sup> <input
													type="text" id="projectinput2" class="form-control" maxlength="50" [ngModelOptions]="{updateOn: 'blur'}"
													[(ngModel)]="reservation.lastName" name="lname" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput3">E-mail</label><sup><font
													style="color: #F31414" size="2">*</font></sup> <input type="text"
													[(ngModel)]="reservation.email" id="projectinput3"
													class="form-control" name="email" required email>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput4">Num&#233;ro de
													t&#233;l&#233;phone </label><sup><font
													style="color: #F31414" size="2">*</font></sup> <input type="text" id="projectinput4"
													[(ngModel)]="reservation.phone" class="form-control"
													name="phone" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput3">Facebook url</label> <input
													type="text" id="projectinput3" class="form-control"
													[(ngModel)]="reservation.facebook" name="facebook" url>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="file">Photo</label>
												<!-- <label class="custom-file center-block d-block">
		                                      <input type="file" id="file" class="custom-file-input">
		                                      <span class="custom-file-control"></span>
											</label> -->
												<div class="custom-file center-block d-block">
													<input type="file" class="custom-file-input"
														accept="image/*" (change)="onFileChange($event)"
														id="inputGroupFile01"> <label
														class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
												</div>
											</div>
										</div>
									</div>

									<h4 class="form-section">
										<i class="ft-file-text"></i>Info R&#233;servation
									</h4>



									<div class="row">
										<div class="col-md-6">

											<div class="form-group">
												<label for="companyName">Date de r&#233;servation<sup><font
													style="color: #F31414" size="2">*</font></sup> </label>
												<div class="input-group">
													<input class="form-control" placeholder="yyyy-mm-dd"
														name="dpDate" [(ngModel)]="reservation.date" ngbDatepicker
														[minDate]="disabledModel" id="dpDate" #d3="ngbDatepicker"
														required>

													<div class="input-group-append">
														<div class="input-group-text" (click)="d3.toggle()">
															<i class="fa fa-calendar" style="cursor: pointer;"></i>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="projectinput5">Service<sup><font
													style="color: #F31414" size="2">*</font></sup> </label>
												<div
													class="custom-control custom-radio custom-control-inline">
													<input type="radio" id="customRadioInline1"
														value="1er Service avant {{ReservationParams.firstServiceArrival}}"
														[(ngModel)]="reservation.service"
														name="customRadioInline1" class="custom-control-input"
														checked required> <label
														class="custom-control-label" style="text-transform: none;"
														for="customRadioInline1">1er Service: de
														{{ReservationParams.firstServiceStart}} &#224;
														{{ReservationParams.firstServiceEnd}}</label><label
														style="font-size: x-small;"> (Arriv&#233;e avant
														{{ReservationParams.firstServiceArrival}})</label>
												</div>
												<div
													class="custom-control custom-radio custom-control-inline">
													<input type="radio" id="customRadioInline2"
														value="2&#232;me Service avant {{ReservationParams.secondServiceArrival}}"
														[(ngModel)]="reservation.service"
														name="customRadioInline1" class="custom-control-input"
														required> <label class="custom-control-label"
														style="text-transform: none;" for="customRadioInline2">2&#232;me
														Service: de {{ReservationParams.secondServiceStart}}
														&#224; {{ReservationParams.secondServiceEnd}}</label><label
														style="font-size: x-small;"> (Arriv&#233;e avant
														{{ReservationParams.secondServiceArrival}})</label>
												</div>

											</div>
										</div>


									</div>
									<div class="row">
										<div class="col-md-6">

											<div class="form-group">

												<fieldset>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="icon-symbol-male"
																style="color: #157878; font-weight: 600;"></i></span>
														</div>
														<input type="number" min="0" class="form-control"
															[(ngModel)]="reservation.qtyMen" name="nbHomme"
															aria-label="Amount (to the nearest dollar)" required>
														<div class="input-group-append">
															<div class="input-group-btn">
																<button type="button" class="btn btn-raised btn-warning"
																	(click)="reservationQtyMenPlus()" aria-label="Copy">
																	<i class="ft-user-plus"></i>
																</button>
																<button type="button" class="btn btn-raised btn-info"
																	(click)="reservationQtyMenMinus()" aria-label="Paste">
																	<i class="ft-user-minus"></i>
																</button>
															</div>
														</div>
													</div>
												</fieldset>

											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<fieldset>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="icon-symbol-female"
																style="color: #FF5722; font-weight: 600;"></i></span>
														</div>
														<input type="number" min="0" class="form-control"
															[(ngModel)]="reservation.qtyWomen" name="nbFemme"
															aria-label="Amount (to the nearest dollar)" required>
														<div class="input-group-append">
															<div class="input-group-btn">
																<button type="button" class="btn btn-raised btn-warning"
																	(click)="reservationQtyWomenPlus()" aria-label="Copy">
																	<i class="ft-user-plus"></i>
																</button>
																<button type="button" class="btn btn-raised btn-info"
																	(click)="reservationQtyWomenMinus()" aria-label="Paste">
																	<i class="ft-user-minus"></i>
																</button>
															</div>
														</div>
													</div>
												</fieldset>
											</div>
										</div>


									</div>

								</div>

								<div class="form-actions">
									<button type="button"
										class="btn btn-raised btn-raised btn-warning mr-1">
										<i class="ft-x"></i> Cancel
									</button>


									<a class="position-relative has-icon-right">
										<button type="submit"
											class="btn btn-raised btn-raised btn-primary">
											<i class="fa fa-check-square-o"></i> Save <i
												class="ft-loader spinner" *ngIf="loadSpinner"></i>
										</button>

									</a>

									<!--                         <div class="mt-2"><i class="fa fa-cog spinner font-large-2"></i></div> -->
									<div class="col-md-12 cancelReservation">
										<a (click)="open(content)" style="margin-right: 25px;">Annuler
											ma r&#233;servation</a> <a (click)="openTracker(contentStatus)">Etat
											de la r&#233;servation</a>
									</div>
									<ng-template #content let-c="close" let-d="dismiss">
									<div class="modal-header">
										<h4 class="modal-title">Annuler ma r&#233;servation</h4>
										<button type="button" class="close" aria-label="Close"
											(click)="d('Cross click')">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="digits">ID R&#233;servation</label> <input
												type="text" class="form-control" [(ngModel)]="reservationID"
												name="digits" #digits="ngModel" digits /> <small
												class="form-text text-muted danger"
												*ngIf="digits.errors?.digits">ID invalide</small>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary btn-raised"
											[disabled]="!reservationID" (click)="c(reservationID)">Annuler</button>
									</div>
									</ng-template>

									<ng-template #contentStatus let-c="close" let-d="dismiss">
									<div class="modal-header">
										<h4 class="modal-title">Traquer ma r&#233;servation</h4>
										<button type="button" class="close" aria-label="Close"
											(click)="d('Cross click')">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="digits">ID R&#233;servation</label> <input
												type="text" class="form-control" [(ngModel)]="reservationID"
												name="digits" #digits="ngModel" digits /> <small
												class="form-text text-muted danger"
												*ngIf="digits.errors?.digits">ID invalide</small>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary btn-raised"
											[disabled]="!reservationID" (click)="c(reservationID)">v&#233;rifier</button>
									</div>
									</ng-template>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<reservation-setting *ngIf="isAuthantified == 'true' && isAdmin"></reservation-setting>
