form .form-group {
    margin-bottom: 0px;
}
label {
    display: inline-block;
    margin-bottom: .2rem;
}
form .form-actions {
    text-align: center;
}
.cancelReservation{
	text-align: left;
    color: #157e73;
    padding: 0px;
    text-decoration: underline;
}
small, .small {
    font-size: 60%;
}