<!--Under Maintenance Starts-->
<section id="maintenance">
	<div class="container-fluid gradient-green-tea">
		<div class="row full-height-vh">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div
					class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
					<div class="card-img overlap" style="text-align:  center;" id="userProfile" *ngIf="reservationCorrect == true">
						<img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190" *ngIf="reservationDetails.clientsEntity && reservationDetails.clientsEntity.hasPhoto == false">
					</div>
					<div class="card-block text-center"
						*ngIf="reservationCorrect == true">
						<h3>{{reservationDetails.clientsEntity.firstName}}
							{{reservationDetails.clientsEntity.lastName}}</h3>
						<p>
							Date: {{reservationDetails.date}} <br>Tranche Horaire:
							{{reservationDetails.timeFrom}}-{{reservationDetails.timeTo}} <br>Nombre
							de personnes (Homme): {{reservationDetails.qtyMen}} <br>Nombre
							de personnes (Femme): {{reservationDetails.qtyWomen}}<br>
						</p>

						<div class="col-md-12">
							<div class="form-group">
								<label for="projectinput5">Nombre de personne </label>
								<div class="input-group">
									<input type="number" min="0" class="form-control"
										[(ngModel)]="nbPersonne" name="nbPersonne"
										aria-label="Amount (to the nearest dollar)" required>
									<div class="input-group-append">
										<div class="input-group-btn">
											<button type="button" class="btn btn-raised btn-warning"
												(click)="nbPersonne = nbPersonne +1;" aria-label="Copy">
												<i class="ft-user-plus"></i>
											</button>
											<button type="button" class="btn btn-raised btn-info"
												(click)="nbPersonne = nbPersonne -1;" aria-label="Paste">
												<i class="ft-user-minus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-block text-center"
						*ngIf="reservationConfirmed == true">
						<h3>R&#233;servation Confirm&#233;e</h3>

					</div>
					<div class="card-block text-center" *ngIf="reservationUsed == true">
						<h3>Client Arriv&#233;</h3>

					</div>
					<div class="card-block text-center"
						*ngIf="reservationInvalide == true">
						<h3>R&#233;servation Invalide</h3>

					</div>
					<div class="card-block text-center"
						*ngIf="reservationAnnulerByClient == true">
						<h3>Cette r&#233;servation a &#233;t&#233; annul&#233;e par
							le Client</h3>

					</div>
					<div class="card-block text-center"
						*ngIf="reservationAnnulerByAdmin == true">
						<h3>Cette r&#233;servation a &#233;t&#233; annul&#233;e par
							le manager</h3>

					</div>
					<div class="card-block text-center"
						*ngIf="reservationAnnulerEnAttente == true">
						<h3>R&#233;servation en Attente</h3>

					</div>

					<hr>
					<p class="card-text text-center pt-2 pb-2"
						*ngIf="reservationCorrect == true">
						<button type="button" [disabled]="!nbPersonne || nbPersonne ==0"
							(click)="confirm()"
							class="btn btn-raised btn-raised btn-warning mr-1">
							Confirm</button>

					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Under Maintenance Starts-->
