<!--Lock Screen Starts-->
<section id="lock-screen">
    <div class="container-fluid gradient-crystal-clear">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card width-400">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="text-center card-img overlap">
                                <img alt="avtar" class="mb-1" src="assets/img/portrait/avatars/avatar-03.png" width="150">
                            </div>                   
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                           
                                <div class="form-group mt-3">
                                    <h3 class="text-center text-uppercase text-bold-400">Bienvenue<br>{{fullName}}!</h3>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Lock Screen Ends-->
