<!--Under Maintenance Starts-->
<section id="maintenance">
	<div class="container-fluid gradient-green-tea">
		<div class="row full-height-vh">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
					
					<div class="card-block text-center"
						*ngIf="reservationInvalide == true">
						<h3>R&#233;servation Invalide</h3>

					</div>
					<div class="card-block text-center" style="padding: 10px;"
						*ngIf="reservationAnnuler == true">
						<div  class="col-md-12 col-sm-12 col-12 fonticon-container">
                            <div class="fonticon-wrap" style="margin-bottom: 0px;"><i class="fa fa-check"></i></div>
                            <label class="fonticon-classname"><h3>Votre r&#233;servation a &#233;t&#233; annul&#233;e!</h3></label>
                          
                          </div>
						

					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!--Under Maintenance Starts-->
